@use 'mixins';
@use 'tokens/spacing';

.base {
  width: 100%;

  text-align: center;
}

.icon-box {
  width: 100%;
  // TODO: revisit it once we have icons
  min-height: 26rem;
  margin-bottom: spacing.$base * 0.3rem;

  // TODO: remove it once we have icons
  background-color: var(--color-black);
}

.title {
  margin-bottom: spacing.$base * 0.2rem;

  font-weight: 600;
  font-size: 2rem;
}

@include mixins.respond(desk-big) {
  .icon-box {
    margin-bottom: spacing.$base * 0.4rem;
  }

  .title {
    margin-bottom: spacing.$base * 0.3rem;

    font-size: 2.4rem;
  }
}
