@use 'mixins';

:global {
  .container {
    width: 100%;
    max-width: 148rem;
    margin: 0 auto;
    padding: 0 1.6rem;

    @include mixins.respond(tab-land) {
      padding: 0 2.4rem;
    }
  }
}
