@use 'mixins';
@use 'tokens/spacing';

.common {
  width: 100%;
  max-width: 148rem;
  margin: 0 auto;
  padding: 0 spacing.$container-sm;

  @include mixins.respond(tab-land) {
    padding: 0 spacing.$container-md;
  }
}

.default {
  composes: common;
}

.page {
  composes: common;

  padding-top: spacing.$base * 0.4rem;
  padding-bottom: spacing.$base * 1.2rem;

  @include mixins.respond(desk-small) {
    padding-top: spacing.$base * 0.8rem;
    padding-bottom: spacing.$base * 1.5rem;
  }
}
