@use 'sass:color';

$primary: #005fff;
$secondary: #ff7e29;
$black: #0a1526;
$white: #fff;

$text-primary: $black;
$text-secondary: rgba($black, 0.6);

$bg-primary: $white;
$bg-primary-inverse: $black;
$bg-secondary: rgba($black, $alpha: 0.02);
